body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #010930;
  color: #ffffff;
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

h2 {
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  font-family: "Mplus 1p Bold", "Noto Sans JP", sans-serif;
}

/* ボタン全体 */
.flowbtn9 {
  display: inline-block;
  font-size: 120px;
  text-decoration: none;
  transition: .5s;
  color: #ffffff;
}

ul.snsbtniti {
  display: flex;
  justify-content: center;
  gap: 20px; /* アイコン同士の余白 */
  padding: 0;
  list-style: none;
  margin: 20px auto;
}

.snsbtniti li {
  flex: 0 0 33%;
  text-align: center;
}

.flowbtn9:hover, .flowbtn9-2:hover {
  transform: translateY(-5px);
}

img {
  margin: auto;
  display: block;
  width: 1000px;
  height: auto;
  object-fit: cover;
}

.push {
  height: auto;
}

footer {
  width: 100%;
  min-height: 200px;
  text-align: center;
  position: relative;
}

footer:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 10px solid #ffffff;
}
.push {
  height: 200px;/*フッターと同じ高さに指定*/
}
.flowbtn9-2{
  display: inline-block;
  font-size: 40px;
  text-decoration: none;
  margin-top:45px;
  padding-left: 30px;
  transition: .5s;
  color: #ffffff;
}
ul.snsbtniti2 {
  display: flex;
  justify-content: center;
  gap: 20px; /* アイコン同士の余白 */
  padding: 0;
  list-style: none;
  margin: 20px auto;
}
.snsbtniti2 li {
  flex: 0 0 33%;
}
.box {
  list-style-type: none;
}

.left, .right {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 15px;
}

.productor_name {
  font-size: 40px;
}

.productor_mail {
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
}
.address{
  text-decoration: none;
  color: #ffffff;
}
.copyright {
  color: #9ca3af;
  font-size: 20px;
  margin: 10px 0;
}
.web{
  color: #9ca3af;
  text-decoration: none;
}
