body {
  /*設置する親要素ページ全体ならbodyなど*/
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #010930;
}

.wrapper{
  min-height: 100vh;/*①高さの最小値*/
  position: relative;/*②相対位置*/
}

h2{
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  font-family: Mplus 1p Bold,Noto Sans JP;
}

/* ボタン全体 */
.flowbtn9{
  display:inline-block;	
  font-size:40px;
  text-decoration:none;
  transition:.5s;
  }
  .flowbtn9 .fa-x-twitter{
  color:#ffffff;

  }
  .flowbtn9 .fa-instagram{
  color:#ffffff;

  }
  ul.snsbtniti{
  padding:0;
  }
  /* アイコン全体の位置 */
  .snsbtniti{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  overflow:hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* アイコン同士の余白 */
  .snsbtniti li{
   text-align:center;
   flex:0 0 33%;
  }
  /* インスタ・Amazonのアイコンを少し大きく */
  .flowbtn9 {
    font-size: 120px;
  }
  /* アイコンにマウスを乗せた時 */
  .flowbtn9:hover{
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  }




img {
  margin: auto;
  display: block;
  width: 1000px;
  height: auto;
  object-fit: cover;
}



footer {
    bottom: 0; /*下に固定*/
    width: 100%;
    height: 200px; 
    text-align: center;
    background-color: #010930;
  }
 small{
  color: #ffffff;
  height: 10rem;
  text-align: center;
  font-size: 25px;
 }
 footer:before{
  content:"";
  position:absolute;
  left:0;
  display:block;
  margin-top:-40px;
  width:100%;
  border-top:10px solid #ffffff;
}
.push {
  height: 200px;/*フッターと同じ高さに指定*/
}

 