*{
  overflow-x: hidden;
}

body {
  background-color: #010930;
  font-family: Arial, sans-serif;
  height: 200vh; /* スクロールするために十分な高さを設定 */
  position: relative;
  position: center;
}


.haikei{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(background.svg);
    z-index: -1; /* 背景なので、他の要素の後ろに配置 */
}
.top{
  display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 各SVGを中央揃え */
}

/* スクロールで動くSVG画像 */
.title, .poem{
  display: block;
  margin: 20px 0; /* 各SVGの間にスペースを追加 */
  flex-direction: column; /* 縦に並べる */
  align-items: center; /* 各SVGを中央揃え */
}

.title-image{
  margin: 10%;
}
