*{
  overflow-x: hidden;
}

body {
  background-color: #010930;
  font-family: Arial, sans-serif;
  height: 200vh; /* スクロールするために十分な高さを設定 */
  position: relative;
  position: center;
}


.haikei{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(background.svg);
    z-index: -1; /* 背景なので、他の要素の後ろに配置 */
}
.top-title{
  display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 各SVGを中央揃え */
}

/*title部分*/
.title-image{
  margin: 10%;
}

/*ACCESS部分*/
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-image{
  margin: 50% 0 5% 0;
}

.circle>div {
  width: 80%;
  height: 70%;
  border: solid 3px #ffffff;
  border-radius: 10px;
  background: #686f89;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-size: 5em; 
  margin: auto;
}

p {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: auto;
}

a {
  text-decoration: none;
}

.text {
  background: linear-gradient(transparent 70%, #da00ec 30%);
}

iframe {
  width: 70%;
  height: 40vw;
  max-width: 1000px;
  max-height: 600px;
  margin: 7% 0;
}

.map {
  font-size: 2em; 
}

.address {
  font-size: 2.5em; 

}

.left-align-section {
  font-size: 2.2em;
  text-align: left;
  margin: 1% auto;
}

.left-align-section p {
  margin-bottom: 0.8em;
}

.left-align-section .text:last-child {
  margin-bottom: 4em;
}
@media screen and (max-width: 480px) {
  .circle {
      width: 72%;
      height: 125px; 
      padding-top: 0;
  }

  h1 {
      font-size: 3em; 
  }

  .circle>div {
      height: 65%; 
  }

  iframe {
      height: 15em; 
  }

  .map {
      font-size: 1em; 
  }

  .address {
      font-size: 1.5em; 
  }

  .left-align-section {
      font-size: 1.2em; 
  }
}


/*展示部分*/
.top-exhibition{
  position: relative; /* 子要素を重ねるためにrelativeを使用 */
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-image: url('ポエム帯.svg');
  background-size: cover; /* 背景画像を要素全体に表示 */
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat;
}


/* タイムテーブル部分 */
.top-timetable{
  position: relative; /* 子要素を重ねるためにrelativeを使用 */
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-image: url('DNA1.svg');
  background-size: cover; /* 背景画像を要素全体に表示 */
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat;
}


.poster1{
  width: 40%;
  margin: auto;
  position:absolute;
  right:53%;
  bottom:45%;
}
.poster2{
  width:40%;
  margin: auto;
  position:absolute;
  right:7%;
  bottom:20%;
}

/* SNS部分 */
.sns_flex{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30%;
}
.top-insta_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
  position: relative; /* 子要素を重ねるためにrelativeを使用 */
  width: 100%;
  height: 50%;
  margin: 0 auto;
  background-image: url('DNA2.svg');
  background-size: cover; /* 背景画像を要素全体に表示 */
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat;
}
h2{
  color: #000000;
  margin: 30px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  background-color: #FFFFFF;
  width: 200px;
  border-radius: 9px;
}
.instagram_media{
  width: 100%;
  height: 100%;
}